
h4{
  font-size: 170%;
  font-weight: lighter;
  font-family: Helvetica,sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 20vw);
    grid-gap: 100px 15px;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.grid-container .box a{
  color:black;
  text-decoration: none;
}
.grid-container .box a img{
width: 100%;
height: 100%;
object-fit: cover;
}
.box {
  text-align: center;
  border: 2px solid black;
}
.remove-connection{
  color: rgb(0, 0, 0);
  font-size: 100%;
  font-weight: bold;
}
.message{
  color: rgb(0, 0, 0);
  font-size: 100%;
  font-weight: bold;
}
.report{
  color: rgb(0, 0, 0);
  font-size: 100%;
  font-weight: bold;
}
@media only screen and (max-width: 625px) {
  .grid-container {
    height: auto;
    display:flex;
    flex-direction: column;
  }
  .box {
    text-align: center;
    border: 2px solid black;
    width: 100%;
    height: 300px;
  }

  }
