.content {
    display:inline-block;
    vertical-align:middle;
    height: 1200px;
  }

.lhs {
    background-color: rgb(205, 205, 205);
    width:30%;
}

.rhs {
    background-color: rgb(205, 205, 205);
    width:30%; 
}

.search-block {
    background-color: rgb(255, 255, 255);
    height: 15%;
}

.filtered-jobs {
    height: 75%;
}

.page-select {
    height: 5%;
}

.job-filters {
    background-color: rgb(255, 255, 255);
        height: 15%;
}

.job-view {
    background-color: rgb(255, 255, 255);
    height: 80%;
}
.search-bar{
}
.job-posting{
     background-color: rgb(255, 255, 255);
    height: 15%;
}