html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #303030;
}

a {
    text-decoration: none;
    color: #5568FE;
    transition: 0.3s;
}

a:hover {
    color: #4554cc;
    transition: 0.3s;
}

.Signup-box {
    padding: 50px;
    background: #202020;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Color-5568FE {
    color: #5568FE;
}

.Signup-form {
    color: #000;
    margin: 15px 0px 15px 0px;
}

.Button {
    padding: 5px 15px 5px 15px;
    margin: 15px 0px 15px 0px;
    border: none;
    color: white;
    background: #5568FE;
    border-radius: 6px;
    transition: 0.3s;
}

.Button:hover {
    background: #4554cc;
    transition: 0.3s;
}