.head-text {
    position: relative;
 }
.text-on-image{ 
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style:normal;
    font-weight:bolder;
    font-size:350%;
    letter-spacing:2px;
     color: #ffffff;
}
.background {
width: 100%;
height: auto;
max-height: 800px;
}

.section-1{    
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-left: 5%;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 48px;
    color: #000000;
}

 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10%;
    gap: 20%;
  }
  
.headerTitle{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #000000;

}
.someText{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
padding-bottom: 5%;
color: rgba(0, 0, 0, 0.8);
}
.learnMore{
    width: auto;
    height: auto;
    left: 80px;
    color: #18A0FB;
    background-color: white;
    border-color: #18A0FB;
    border-radius:5px;
}
.container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 10%;
    gap: 10%;
  }
.imageSection6{
    width: 80%;
    height: auto;
    margin-left: 15%;
}
.container-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10%;
    margin-top: 5%;
    background: #F5F5F5;
}
.section-8{
    padding-top: 20%;
    margin-left: 10%;

}
.imageSection9 {
    width: 100%;
    height: auto;
    background-image: url(./homeImages/hands.png);
  }
  